/* Give the header and footer sections a border and background color
Give the main content section a background color
Apply a new font to the entire page (ex: Helvetica or Arial)
Italicize any book titles that appear in the text content of the page  ->Lou-> did with <em> HTML tag and <span> with HTML class
Apply a new color to each heading element
Display a different color when the mouse rolls over the navigational links
Hide the bullet-points of the unordered lists in the site */

* {
    font-family: Arial;
}

/* body {
    background-image: url("https://files.worldwildlife.org/wwfcmsprod/images/Tiger_resting_Bandhavgarh_National_Park_India/hero_full/77ic6i4qdj_Medium_WW226365.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

/* not needed, better to do <em> */
.emphasis {
    font-style: italic;}

h1 {
    color:rgb(59, 59, 12);
}

h2 {
    color:burlywood;
}

h3 {
    color:rgb(227, 46, 106);
}

h4 {
    color:black
}

header, footer {
    border: 5px solid black;
    padding: 5px;
    background-color: azure;
}

main {
    background-color: honeydew;
}

nav a:hover {
    color:gold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}