/* Give the header and footer sections a border and background color
Give the main content section a background color
Apply a new font to the entire page (ex: Helvetica or Arial)
Italicize any book titles that appear in the text content of the page
Apply a new color to each heading element
Display a different color when the mouse rolls over the navigational links
Hide the bullet-points of the unordered lists in the site */

header {border:solid;
    border:0cm;
    background-color: aqua;

}

footer {border:solid;
    border:0cm;
    background-color: aqua;

}

body {background-color: aqua;}